.c {
	height: 100vh;
}
.c-bg {
	width: 30px;
	height: 100%;
	background-color: var(--darker);
	position: absolute;
}
.c-wrapper {
	padding: 50px 25px 0px 50px;
	display: flex;
}

/* Left Side */
.c-left {
	flex: 45%;
	display: flex;
	align-items: center;
	height: 90vh;
}
.linkedin {
	display: flex;
}
.linkedin:hover {
	opacity: 0.5;
	text-decoration: underline;
}
.c-title {
	font-size: 45px;
	width: 80%;
	text-decoration: underline;
	margin-bottom: 50px;
}
.c-info-item {
	display: flex;
	align-items: center;
	margin: 20px 0;
	font-size: 24px;
}
.c-info-i {
	margin-left: 10px;
}

/* Right Side */
.c-right {
	padding-top: 50px;
	flex: 55%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 90vh;
	position: relative;
}
.c-right img {
	height: 275px;
}
.c-desc {
	font-size: 32px;
	font-weight: lighter;
}
.c-author {
	font-size: 36px;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
	.c {
		height: 100%;
		margin-bottom: 50px;
	}
	.c-wrapper {
		flex-direction: column;
		padding: 20px;
	}
	.c-title {
		font-size: 32px;
		font-weight: bold;
		width: 100%;
		margin-bottom: 20px;
	}
	.c-info-item {
		margin: 20px 0;
		width: 100%;
		font-size: 20px;
	}
	form {
		margin-top: 0;
		display: flex;
		flex-wrap: wrap;
	}
	input {
		width: 35%;
		height: 40px;
		margin: 10px;
		margin-left: 0;
	}
	.c-right {
		display: none;
	}
	.c-bg {
		display: none;
	}
}

@media screen and (max-width: 811px) {
	.c {
		height: 100%;
	}
	.c-wrapper {
		flex-direction: column;
		padding-top: 25px;
	}
	.c-title {
		font-weight: bold;
		width: 100%;
		margin-bottom: 20px;
	}
	.c-info-item {
		margin: 20px 0;
		width: 100%;
	}
	form {
		margin-top: 0;
		display: flex;
		flex-wrap: wrap;
	}
	input {
		width: 35%;
		height: 40px;
		margin: 10px;
		margin-left: 0;
	}
}
