.n {
	height: 50px;
	position: fixed;
	top: 10px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	left: 25vw;
	right: 25vw;
	background-color: white;
}
.n-item {
	font-size: 24px;
	font-weight: bold;
}
.n-item:hover {
	opacity: 0.5;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.n {
		display: none;
	}
}

@media screen and (max-width: 811px) {
	.n {
		left: 15vw;
		right: 15vw;
	}
	.n-item {
		font-size: 20px;
	}
}
